@model TourismEvaluationSystem.Models.TouristLoginViewModel

@{
    ViewBag.Title = "TouristLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>游客登录</h2>
<img src="~/Content/Images/power.png" width="30" />
<div>
    <p>
        @Html.ValidationMessage("Message")
    </p>

    @using (Html.BeginForm())
    {
        @*@Html.AntiForgeryToken()*@
        <p>@Html.LabelFor(m => m.TouristAccount)@Html.EditorFor(m => m.TouristAccount)@Html.ValidationMessageFor(m => m.TouristAccount)</p>
        <p>@Html.LabelFor(m => m.TouristPassword)@Html.EditorFor(m => m.TouristPassword)@Html.ValidationMessageFor(m => m.TouristPassword)</p>
        <p>
            @Html.LabelFor(m => m.VerificationCode)
            @Html.EditorFor(m => m.VerificationCode) <img id="verificationcode" title="点击刷新" src="@Url.Action("VerificationCode")" style="cursor:pointer" /> @Html.ValidationMessageFor(m => m.VerificationCode)
        </p>
        <p><input type="submit" id="LoginButton" value="登录" /></p>
        <p>@Html.ActionLink("注册", "TouristRegister")</p>
    }
</div>
<script type="text/javascript">
    $("#verificationcode ").click(function () {
        $("#verificationcode ").attr("src", "@Url.Action("VerificationCode")?" + new Date());
    })
</script>