@model TourismEvaluationSystem.Models.AdminPasswordEditViewModel

@{
    ViewBag.Title = "AdminPasswordEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        $("#EditBottonbottom").click(function () {
            return confirm("确认是否提交修改?（修改完成后返回登陆界面并重新登陆）");
        })
    });
</script>

<ul class="nav nav-tabs">
    <li>@Html.ActionLink("景点管理", "Index")</li>
    <li>@Html.ActionLink("评价统计", "EvaluationStatistics")</li>
    <li class="active">@Html.ActionLink("管理员密码修改", "AdminPasswordEdit")</li>
    <li>@Html.ActionLink("登出", "AdminLogout")</li>
</ul>

<h2>管理员密码修改</h2>
<div>
    <p>
        @Html.ValidationMessage("Message")
    </p>

    @using (Html.BeginForm())
    {
        @*@Html.AntiForgeryToken()*@
        <p>@Html.LabelFor(m => m.AdminPassword)@Html.EditorFor(m => m.AdminPassword)@Html.ValidationMessageFor(m => m.AdminPassword)</p>
        <p>@Html.LabelFor(m => m.AdminPasswordConfirmed)@Html.EditorFor(m => m.AdminPasswordConfirmed)@Html.ValidationMessageFor(m => m.AdminPasswordConfirmed)</p>

        <p><input type="submit" id="EditBottonbottom" value="修改" /></p>
    }
</div>
